body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF
}
#logo{
    color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.logo{
    color: #2e2f42;
font-family: 'Raleway'sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.nav-link{
    color: #2e2f42;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.nav-link :hover{
    color: #404bbf;
}
.nav-link :focus{
    #404bbf
}
.address-link{
    color: #434455
        font-family:Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.address-link :hover{
    color: ;#404bbf
}
.address-link :focus{
    color: #404bbf;
}
.effective-title{
background-color: #2e2f42;
line-height: 1.07;
font-size: 56px;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}

.effective-button{
    color: #ffffff;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.effective-button :hover{
    #404BBF
}
.quality-item{
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.quality-item-info{
    color: #434455;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        
}
.our-team{
    background-color: #F4F4FD;
        font-family: Roboto;
        color: #2E2F42;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            text-transform: capitalize;
}
.list-name{
    font-family: 'Roboto',
    color #2e2f42;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;


}
.list-work{
    color:#434455;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: 0.02em

}
.Our-Portfolio{
    color:#2e2f42;
    font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.11;
        letter-spacing: 0.02em;
}
.usage-list{
    color:#434455;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em
}
.usage-list-link{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.conclusion{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}