body{
    font-family: 'Roboto', sans-serif;
}
#logo{
    color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.logo-style{
    color: var(--navyblue, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.nav-link{
    
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
}
.address-link{
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
}
.Effective-section{
background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.Effective-title{
 color:#fff;
font-family: 
    'Roboto',
    sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.Effective-button{
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
        background: var(--iris, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.Effective-button :hover{
    #404BBF
}
.quality-item{
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}
.quality-item-info{
    color: #434455;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.our-team{
        font-family: 'Roboto',
            sans-serif;
        color: #2E2F42;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            /* 111.111% */
            letter-spacing: 0.72px;
            text-transform: capitalize;
}
.list-name{
    font-family: 'Roboto',
        sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}
.list-work{
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.Our-Portfolio{
    font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.usage-list{
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}
.usage-list-link{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.conclusion{
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}